@import
url(‘https://fonts.googleapis.com/css2?
family=Nunito+Sans:ital,opsz,
wght@0,6..12,200..1000;1,6..12,200..1000&display=swap’);
:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secundary-color: #F05454;
    --font: “Nunito Sans”, sans-serif;
    }
body {
background-color: var(--bg-color);
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
    }
    header {
        background-color: var(--primary-color);
        text-align: center;
        padding: 1px;
    }
    h1 {
        font-size: 2rem;
        color: var(--bg-color);
        font-weight: 700;
        }
        nav a:hover {
            text-decoration: underline;
            transform: scale(0.90);
            transition: transform 0.1s;
            }
            footer {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                color: var(--bg-color);
                width: 100%;
                height: 3rem;
                margin-top: 2rem;
                }
                .graficos-container__texto {
                    font-size: 1.3rem;
                    text-align: center;
                    padding: 2rem;
                    border: var(--secundary-color) solid 2px;
                    }
                    span {
                        font-weight: bold;
                        color: var(--secundary-color);
                        }paragrafo.innerHTML = `Você sabia que o mundo tem
                        <span>${dados.total_pessoas_mundo}</span> de pessoas e
                        que aproximadamente <span>${dados.total_pessoas_
                        conectadas}</span> estão conectadas em alguma rede
                        social e passam em media
                        
                        <span>${dados.tempo_medio}</span> horas conectadas.`
                        const dados = await res.json()
                        console.log(dados);
                        const paragrafo = document.createElement(‘p’)
                        paragrafo.classList.add(‘graficos-container__texto’)
                        paragrafo.innerHTML = `Você sabia que o mundo tem
                        <span>${dados.total_pessoas_mundo}</span> de pessoas
                        e que aproximadamente <span>${dados.total_pessoas_
                        conectadas}</span> estão conectadas em alguma rede
                        social e passam em média <span>${dados.tempo_medio}</
                        span> horas conectadas.`
                        console.log(paragrafo)const res = await fetch(url)
                        const dados = await res.json()
                        const pessoasConectadas = (dados.total_pessoas_ conectadas) / 1e9
                        const paragrafo = document.createElement(‘p’)
                        